<div class="container">
  <div class="welcome-template">
    <h1>Hai, Selamat Datang di Website Frozetoro</h1>
    <%= link_to "Klik di sini untuk melanjutkan", posts_path , :class => "btn btn-primary" %>
  </div>
</div>